.article-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
}

.table-border {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 70%;
    border: 5px solid purple;
}

.textarea-h {
   max-height: 100vh;
   min-height: 45vh;
}

.markdown-h {
    max-height: 100vh;
    min-height: 50vh;
}
