<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ShehwazNet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/index.css">
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="justify-content: center;">
            <div class="container d-flex flex-column align-items-center py-2">
                <a class="text-decoration-none" href="/">
                    <span class="navbar-brand mb-0 h1 text-center" style="display: block; width: 100%;">
                        Welcome to <span style="color:blueviolet">ShehwazNet!</span>
                    </span>
                </a>
            </div>
        </nav>

        

        {% block content %}
        {% endblock %}

    </body>

</html>