{% extends 'base.html' %}
    {% block content %}
        <!--make the article table with a title, pic, and more-->
        <div class="table-border">
            <table class="table table-light table-striped-columns article-table">
                <thead class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Article Name</th>
                    <th scope="col">Date</th>
                    <th scope="col" >Action(s)</th>
                </thead>
                <tbody class="text-center">
                    <!--Here, we will use jinja2 to add all the articles by fetching data from database-->
                    {% for article in articles %}
                        <tr>
                            <th scope="row">{{article.id}}</th>
                            <td>{{ article.article_title }}</td>
                            <td>{{article.created_at}}</td>
                            <td>
                                <button id={{article.id}}>View Article</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="/create" method="GET">
            <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Create new article</button>
        </form>

        <script>
            let content = document.getElementById()
        </script>
    {% endblock %}